---
---

@import "minima";

a, a:hover, a:active, a:visited {
  color: #55AA55;
}

.site-title {
  width: 250px;
  font-size: 35px;
  color: #55AA55 !important;
  font-style: italic;
  font-weight: bold;
}
